@font-face {
  font-family: "NorseBold";
  src: url("../assets/Norse-Bold.otf") format("opentype");
}
body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(216, 227, 237);
  font-family: "Montserrat", sans-serif;
}

.image-container {
  position: relative;
  width: 500px; /* adjust as needed */
}

.background {
  width: 100%;
  display: block;
}

.overlay-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  gap: 10px;

  background-color: rgba(255, 255, 255, 0.5); /* optional */
  padding: 10px;
  border-radius: 5px;
}

.overlay-img {
  width: 50px; /* or whatever size you want */
  opacity: 1;
}

.overlay-text {
  font-size: 16px;
  color: rgb(23, 23, 135);
  opacity: 1;
  font-family: "NorseBold";
}

.right-container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.top,
.form-section,
.bottom {
  width: 100%;
  padding: 2em;
  flex: 1;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: smaller;

  color: rgb(34, 95, 150);
}

.form-section {
  background-color: aliceblue;
  font-size: smaller;
  color: rgb(34, 95, 150);
}

.btn {
  padding: 16px;
  color: white;
  background-color: rgb(23, 23, 135);
  border-radius: 10px;
  border: none;
}

.form-row {
  display: flex;
  gap: 1rem; /* space between columns */
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.password {
  border: 2px solid;
}

.password:invalid {
  border-color: red;
}

.password:valid {
  border-color: green;
}

/*---------solution below-------------------

/* 
.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.3em;
  font-weight: bold;
}

input {
  padding: 0.5em;
  box-sizing: border-box;
} */
